*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/nbproject/private/
/nbproject
wp-content/uploads
wp-content/debug.log
.DS_Store
.idea/workspace.xml
.idea/
wp-content/plugins/webmapp
wp-content/plugins/advanced-custom-fields-pro
wp-content/plugins/better-wp-security
wp-content/plugins/duplicate-post
wp-content/plugins/sitepress-multilingual-cms
wp-content/plugins/wordfence
wp-content/plugins/wp-maintenance-mode
wp-content/plugins/wpml-translation-management
wp-content/plugins/wpml-rest-api
wp-content/plugins/admin-columns-pro
wp-content/plugins/cac-addon-acf
wp-content/plugins/disable-real-mime-check
wp-content/plugins/wp-mail-smtp
wp-content/plugins/wpml-media-translation
wp-content/wflogs/rules.php
wp-content/wflogs/wafRules.rules
wp-content/wflogs/
wp-content/plugins/admin-columns-pro
wp-content/plugins/cac-addon-acf
wp-content/plugins/welcome-email-editor
